<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./parts/head.ejs') %>
        <title>Yummy | Home</title>
      </head>
<body>
    <%- include('./parts/navbar.ejs') %>
     
    <div class="begin">
     <h1> Welcome to our  <span> Ymmy </span>Food </h1>
    </div>

<div class="food">

   <div class="essen">

   <img src="https://img.bestrecipes.com.au/iyddCRce/br/2019/02/1980-crunchy-chicken-twisties-drumsticks-951509-1.jpg"/>
   <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
   <img src="https://www.treebo.com/blog/wp-content/uploads/2018/04/Delicious-food-at-Big-Chill-Cafe-Khan-Market-.jpg"/>
   <img src="https://qph.cf2.quoracdn.net/main-qimg-38ad82a064b8782afeff77a0b9d82d63-pjlq"/>
   <img src="https://media.timeout.com/images/105900149/750/562/image.jpg"/>
   <img src="https://thumbor.bigedition.com/quesadilla/TzO8WEmZ-UDTrfwM_dXMOv_g3FA=/800x0/filters:quality(80)/granite-web-prod/5b/82/5b825eedf91b44a3b39f688d28bd3b99.jpeg"/>
   <img src="https://assets.gqindia.com/photos/61e16e982c3e19caea634ee9/master/pass/best%20and%20worst%20foods%20to%20eat%20for%20dinner.jpg"/>
   <img src="https://res.cloudinary.com/rainforest-cruises/images/c_fill,g_auto/f_auto,q_auto/v1625773501/Best-Food-In-SA-Asado-Argentino/Best-Food-In-SA-Asado-Argentino.jpg"/>
   <img src="https://c.ndtvimg.com/2021-02/9e8j71q_grilled-fish_625x300_10_February_21.jpg?im=FaceCrop,algorithm=dnn,width=1200,height=886"/>

    </div>



    <div class="essen2">

        <img src="https://hips.hearstapps.com/hmg-prod/images/lamb-tagine2-1647970003.jpg"/>
        <img src="https://domesticfits.com/wp-content/uploads/2023/05/middle-eastern-food-Shawarma-640x404.jpg"/>
        <img src="https://www.willflyforfood.net/wp-content/uploads/2023/02/tunisian-dishes-mechouia-salad.jpg"/>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZJL17qW-ot8OApDPnPowgL01meh6rpqfSBC815BVk0g&s"/>
        <img src="https://carthagemagazine.com/wp-content/uploads/2020/10/Tunisian-Grilled-Salad.jpg"/>
        <img src="https://www.mosaicnorthafrica.com/wp-content/uploads/2023/04/lablabi.jpg"/>
        <img src="https://th-thumbnailer.cdn-si-edu.com/QHJpcRUYwvz0885xuNIYIgWUJKU=/fit-in/1072x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/6e/ff/6eff6d30-374e-4ef8-830f-d1ca233d1bc9/tunisia-brik.jpg"/>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReSdNpocxbqYZvGsIPo4pIGOgoWTOLVmckT2OhEei77tKWEY7JqXTvvkttLe8G6wT-G48&usqp=CAU"/>
        <img src="https://www.tasteatlas.com/images/dishes/21b23c5c659c412598d62c0cb42946ce.jpg"/>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/64/a2/95/best-pizza-ever-in-tunisia.jpg?w=600&h=400&s=1"/>
     
         </div>


         <button>Are you ready to place your order</button>

</div>




<%- include('./parts/Footer.ejs') %>
</body>
</html>