<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parts/head.ejs') %>
    <title>Yummy | Service</title>
</head>
<body>
    <%- include('./parts/navbar.ejs') %>
    <h1> Welcome to our <span>Ymmy</span>Food </h1>

<div class="Service">
    <div class="card">
        <h2>Order from your Car</h2> 
        <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2019/10/mcdonalds-employee-drive-thru.jpg?quality=82&strip=1"/>  
     
    </div>

    <div class="card">
        <h2>Home delivery</h2>
        <img src="https://foundersguide.com/wp-content/uploads/2019/09/delivery.jpg"/>  
        
    </div>

    <div class="card">
        <h2>anniverssay</h2> 
        <img src="https://alawaiki.com/wp-content/uploads/2016/07/2016-07-09-07-50-28-1.jpg?w=720"/>  
        
    </div>

    <div class="card">
        <h2>Turkish food</h2>
        <img src="https://idsb.tmgrup.com.tr/ly/uploads/images/2022/06/10/211394.jpg"/>  
    
    </div>
    <div class="card">
        <h2>Syrian food</h2> 
        <img src="https://assets.bonappetit.com/photos/57d72ceb1807135a7746d72c/master/pass/lebanese-pita-dips.jpg"/>  
      
    </div>
    <div class="card">
        <h2>Fast food</h2>
        <img src="https://www.lequipe.fr/_medias/img-photo-jpg/fast-food-sante/1500000000903884/0-828-552-75/dbc16.jpg"/>  

    </div>
    <div class="card">
        <h2>chineese food</h2>
        <img src="https://www.tastingtable.com/img/gallery/regional-chinese-food-explained/l-intro-1669836324.jpg"/>
  
    </div>
    <div class="card">
        <h2>Pizzas</h2>
        <img src="https://img.freepik.com/photos-premium/nombreuses-pizzas-differentes-table-pizzeria_260899-1838.jpg"/> 
        
    </div>
    <div class="card">
        <h2>Drinks</h2>
        <img src="https://calbizjournal.com/wp-content/uploads/2023/01/rtd-cocktails-768x476.jpg"/>  
      
    </div>
    <div class="card">
        <h2>Candys</h2>
        <img src="https://external-preview.redd.it/pZuYV_RzAaI7q-Cwv0IktwuWjYcjp3EKu_Gy8maVob4.jpg?width=640&crop=smart&auto=webp&s=405ea7860c053ec6b744fc3769108b4575b93c31"/>  
    
    </div>
    <div class="card">
        <h2>Healthy food</h2>
        <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/2/14/0/FNK_Herbed-Chicken-Marsala_s4x3.jpg.rend.hgtvcom.1280.960.suffix/1371614296995.jpeg"/>
  
    </div>
    <div class="card">
        <h2>Sea food</h2>
        <img src="https://cw33.com/wp-content/uploads/sites/8/2022/04/SEAFOOD-1.jpg?strip=1"/>  
     
    </div>
    <div class="card">
        <h2>Romantic dinner</h2>
        <img src="https://media.timeout.com/images/106089515/750/562/image.jpg"/>  

    </div>
    <div class="card">
        <h2>Branch</h2>
        <img src="https://www.kateskitchenkc.com/wp-content/uploads/2023/10/traditional-full-american-breakfast-eggs-pancakes-with-bacon-and-toast.jpg_s1024x1024wisk20cz03ui5Oqyz8Ys_pG0bVWsgoz_v_E5Oct4x-0C-sAjME.jpg"/>  

    </div>
</div>

<%- include('./parts/Footer.ejs') %>

</body>
</html>