<footer>
    <div class="footer-section">
      <h3>About our food</h3>
      <p>
        Our cooking include a miltitude of yummy foods , a lot of recepies coming from east and west . you will realize : Yummy do not serve you food , we serve you the tast of the culture
      </p>
      <hr />
    </div>
    <div class="copyright">
      <p style="color: azure; font-size: 12px;">&copy; 2024 Yummy. All rights reserved.</p>
    </div>
  </footer>